<configuration>
    <system.webServer>
        <httpErrors errorMode="Detailed" />
        <asp scriptErrorSentToBrowser="true"/>
            <rewrite>
              <rules>

<rule name="Remove trailing slash" stopProcessing="true">
<match url="(.*)/$" />
<conditions>
<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
<add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
</conditions>
<action type="Redirect" redirectType="Permanent" url="{R:1}" />
</rule>
                    
                <rule name="Rewrite to about_us.php">
                  <match url="^About$"/>
                  <action type="Rewrite" url="about_us.php"/>
                </rule>
                    
                <rule name="Rewrite to faq.php">
                  <match url="^FAQ$"/>
                  <action type="Rewrite" url="faq.php"/>
                </rule>
                    
                <rule name="Rewrite to api/base">
                  <match url="^API/BASE/(.*)$"/>
                  <action type="Rewrite" url="./API/Base.php?request={R:1}"/>
                </rule>
                    
                <rule name="Rewrite to aftercart.php">
                  <match url="^OrderCheckOut$"/>
                  <action type="Rewrite" url="aftercart.php"/>
                </rule>

                <rule name="Rewrite to admin-category.php">
                  <match url="^Categories$"/>
                  <action type="Rewrite" url="admin-category.php"/>
                </rule>

                <rule name="Rewrite to admin-customers.php">
                  <match url="^Customers$"/>
                  <action type="Rewrite" url="admin-customers.php"/>
                </rule>

                <rule name="Rewrite to admin-dashboard.php">
                  <match url="^AdminDashboard$"/>
                  <action type="Rewrite" url="admin-dashboard.php"/>
                </rule>

                <rule name="Rewrite to admin-rate-update.php">
                  <match url="^UpdateRate$"/>
                  <action type="Rewrite" url="admin-rate-update.php"/>
                </rule>

                <rule name="Rewrite to admin-vendors.php">
                  <match url="^Vendors$"/>
                  <action type="Rewrite" url="admin-vendors.php"/>
                </rule>

                <rule name="Rewrite to admin-refund.php">
                  <match url="^Refunds$"/>
                  <action type="Rewrite" url="admin-refund.php"/>
                </rule>

                <rule name="Rewrite to vendor-bank-details.php">
                  <match url="^BankDetails$"/>
                  <action type="Rewrite" url="vendor-bank-details.php"/>
                </rule>

                <rule name="Rewrite to delivery-home.php">
                  <match url="^Delivery"/>
                  <action type="Rewrite" url="delivery-home.php"/>
                </rule>

                <rule name="Rewrite to cust-orders.php">
                  <match url="^MyOrders$"/>
                  <action type="Rewrite" url="cust-orders.php"/>
                </rule>

                <rule name="Rewrite to vendor-home.php">
                  <match url="^OrdersPage$"/>
                  <action type="Rewrite" url="vendor-home.php"/>
                </rule>

                <rule name="Rewrite to cart.php">
                  <match url="^Cart$"/>
                  <action type="Rewrite" url="cart.php"/>
                </rule>

                <rule name="Rewrite to cart-vend.php">
                  <match url="^VendorSubscriptions$"/>
                  <action type="Rewrite" url="cart-vend.php"/>
                </rule>

                <rule name="Rewrite to contact.php">
                  <match url="^Contact$"/>
                  <action type="Rewrite" url="contact.php"/>
                </rule>

                <rule name="Rewrite to customer-profile.php">
                  <match url="^CustomerProfile$"/>
                  <action type="Rewrite" url="customer-profile.php"/>
                </rule>

                <rule name="Rewrite to customer-register.php">
                  <match url="^CustomerRegistration$"/>
                  <action type="Rewrite" url="customer-register.php"/>
                </rule>

                <rule name="Rewrite to forgot-password.php">
                  <match url="^ForgotPassword$"/>
                  <action type="Rewrite" url="forgot-password.php"/>
                </rule>

                <rule name="Rewrite to how-it-works-customer.php">
                  <match url="^HowItWorks$"/>
                  <action type="Rewrite" url="how-it-works-customer.php"/>
                </rule>

                <rule name="Rewrite to how-it-works-vendor.php">
                  <match url="^StartSelling$"/>
                  <action type="Rewrite" url="how-it-works-vendor.php"/>
                </rule>

                <rule name="Rewrite to ./Login">
                  <match url="^Login$"/>
                  <action type="Rewrite" url="login.php"/>
                </rule>

                <rule name="Rewrite to ./Logout">
                  <match url="^Logout$"/>
                  <action type="Rewrite" url="logout.php"/>
                </rule>

                <rule name="Rewrite to new.php">
                  <match url="^ChangePassword/(.*)$"/>
                  <action type="Rewrite" url="new.php?name={R:1}"/>
                </rule>

                <rule name="Rewrite to rate-chart.php">
                  <match url="^RateChart$"/>
                  <action type="Rewrite" url="rate-chart.php"/>
                </rule>

                <rule name="Rewrite to rate-form.php">
                  <match url="^AddRatePlan$"/>
                  <action type="Rewrite" url="rate-form.php"/>
                </rule>

                <rule name="Rewrite to rate-plan.php">
                  <match url="^AdminRateChart$"/>
                  <action type="Rewrite" url="rate-plan.php"/>
                </rule>

                <rule name="Rewrite to request-form.php">
                  <match url="^SubscriptionRequest$"/>
                  <action type="Rewrite" url="request-form.php"/>
                </rule>

                <rule name="Rewrite to vend-payment.php">
                  <match url="^SubscriptionPayment$"/>
                  <action type="Rewrite" url="vend-payment.php"/>
                </rule>

                <rule name="Rewrite to vendor-camp-insert.php">
                  <match url="^AddOffer$"/>
                  <action type="Rewrite" url="vendor-camp-insert.php"/>
                </rule>

                <rule name="Rewrite to vendor-camp-prod-insert.php">
                  <match url="^AddProductToOffer/(.*)$"/>
                  <action type="Rewrite" url="vendor-camp-prod-insert.php?camp={R:1}"/>
                </rule>

                <rule name="Rewrite to vendor-camp-serv-insert.php">
                  <match url="^AddServiceToOffer/(.*)$"/>
                  <action type="Rewrite" url="vendor-camp-serv-insert.php?camp={R:1}"/>
                </rule>

                <rule name="Rewrite to vendor-campaign-update.php">
                  <match url="^UpdateOffer$"/>
                  <action type="Rewrite" url="vendor-campaign-update.php"/>
                </rule>

                <rule name="Rewrite to vendor-campaign.php">
                  <match url="^MyOffers$"/>
                  <action type="Rewrite" url="vendor-campaign.php"/>
                </rule>

                <rule name="Rewrite to vendor-dashboard.php">
                  <match url="^VendorDashboard$"/>
                  <action type="Rewrite" url="vendor-dashboard.php"/>
                </rule>

                <rule name="Rewrite to vendor-prod-insert.php">
                  <match url="^AddProduct$"/>
                  <action type="Rewrite" url="vendor-prod-insert.php"/>
                </rule>

                <rule name="Rewrite to vendor-product-update.php">
                  <match url="^UpdateProduct$"/>
                  <action type="Rewrite" url="vendor-product-update.php"/>
                </rule>

                <rule name="Rewrite to vendor-profile.php">
                  <match url="^VendorProfile$"/>
                  <action type="Rewrite" url="vendor-profile.php"/>
                </rule>

                <rule name="Rewrite to vendor-product.php">
                  <match url="^ProductsPage$"/>
                  <action type="Rewrite" url="vendor-product.php"/>
                </rule>

                <rule name="Rewrite to vend-prod-ordfull.php">
                  <match url="^OrderFullChart$"/>
                  <action type="Rewrite" url="vend-prod-ordfull.php"/>
                </rule>

                <rule name="Rewrite to prod-ordfull.php">
                  <match url="^OrderFull$"/>
                  <action type="Rewrite" url="prod-ordfull.php"/>
                </rule>

                <rule name="Rewrite to vendor-service.php">
                  <match url="^ServicesPage$"/>
                  <action type="Rewrite" url="vendor-service.php"/>
                </rule>

                <rule name="Rewrite to vendor-register.php">
                  <match url="^VendorRegistration$"/>
                  <action type="Rewrite" url="vendor-register.php"/>
                </rule>

                <rule name="Rewrite to vendor-serv-insert.php">
                  <match url="^AddService$"/>
                  <action type="Rewrite" url="vendor-serv-insert.php"/>
                </rule>

                <rule name="Rewrite to vendor-service-update.php">
                  <match url="^UpdateService$"/>
                  <action type="Rewrite" url="vendor-service-update.php"/>
                </rule>

                <rule name="Rewrite to vendor-subs-insert.php">
                  <match url="^NewSubscription$"/>
                  <action type="Rewrite" url="vendor-subs-insert.php"/>
                </rule>

                <rule name="Rewrite to policies.php">
                  <match url="^PrivacyPolicy$"/>
                  <action type="Rewrite" url="policies.php"/>
                </rule>

                <rule name="service-index.php">
                  <match url="^Services$"/>
                  <action type="Rewrite" url="service-index.php"/>
                </rule>

                <rule name="return url">
                  <match url="^Return/([0-9]+)/([0-9]+)/([_0-9a-zA-Z-]+)" />
                  <action type="Rewrite" url="return-form.php?ord_id={R:1}&amp;prod_id={R:2}"/>
                </rule>

                <rule name="service details url">
                  <match url="^Services/([0-9]+)/([_0-9a-zA-Z-]+)" />
                  <action type="Rewrite" url="service_details.php?serv={R:1}&amp;name={R:2}"/>
                </rule>

                <rule name="product details url">
                  <match url="^Products/([0-9]+)/([_0-9a-zA-Z-]+)" />
                  <action type="Rewrite" url="product_details.php?prod={R:1}&amp;name={R:2}"/>
                </rule>

                <rule name="services url">
                  <match url="^Services/([0-9A-Za-z_-]+)"/>
                  <action type="Rewrite" url="services.php?serv={R:1}" />
                </rule>

                <rule name="products url">
                  <match url="^Products/([0-9A-Za-z_-]+)"/>
                  <action type="Rewrite" url="products.php?prod={R:1}" />
                </rule>

                <rule name="Rewrite to trans-message.php">
                  <match url="^TransactionMessage/(.*)$"/>
                  <action type="Rewrite" url="trans-message.php?ord_status={R:1}"/>
                </rule>

                <rule name="Rewrite to terms.php">
                  <match url="^Terms$"/>
                  <action type="Rewrite" url="terms.php"/>
                </rule>
                
                <rule name="Rewrite to verify-cntc.php">
                  <match url="^VerifyMobileNumber$"/>
                  <action type="Rewrite" url="verify-cntc.php"/>
                </rule>
                
                <rule name="Rewrite to admin-reports.php">
                  <match url="^Reports$"/>
                  <action type="Rewrite" url="admin-reports.php"/>
                </rule>
                
              </rules>
            </rewrite>
    </system.webServer>

    <system.web>
        <customErrors mode="Off"/>
        <compilation debug="true"/>
    </system.web>
</configuration>

